# This file details the various owners of the Instaclustr Labs and their
# corresponding directories

# Repository Ownership

## Ownership of the entire Instaclustr Labs repository
* @amandakatona
* @davidvonthenen
