# Copyright 2026 NetApp Instaclustr contributors. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Copy to .env in this directory. Do not commit the resulting .env.
USE_EXTERNAL_AI="true"

EXTERNAL_ORCH_URL="https://api.tokenfactory.nebius.com/v1/""
EXTERNAL_ORCH_API_KEY="<YOUR_NEBIUS_API_KEY>" # REQUIRED
EXTERNAL_ORCH_MODEL="nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B"
EXTERNAL_ORCH_MAX_TOKENS="131072"

EXTERNAL_LLM_URL="https://api.tokenfactory.nebius.com/v1/"
EXTERNAL_LLM_API_KEY="<YOUR_NEBIUS_API_KEY>"" # REQUIRED
EXTERNAL_LLM_MODEL="Qwen/Qwen3-30B-A3B-Instruct-2507"
EXTERNAL_LLM_MAX_TOKENS="131072"

TAVILY_API_KEY="<YOUR_TAVILY_API_KEY>" # REQUIRED
FINNHUB_API_KEY="<YOUR_FUNNHUB_API_KEY>"" # REQUIRED
